@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - WELLFIT</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/CSS.css" rel="stylesheet" />
    <link href="~/Content/IMG/Icon.png" rel="icon">
    <style>
        body {
            background: #212122;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .card {
            border-radius: 1rem;
            max-width: 1000px;
            width: 100%;
        }

        #formContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px; /* Reduced padding */
        }

        #formImage {
            max-width: 400px;
            width: 100%;
            margin-right: 20px;
        }

        #formFields {
            flex-grow: 1;
            max-width: 500px;
        }

        .form-label {
            color: white;
        }

        .btn {
            border-radius: 50px;
            font-weight: bold;
            margin-top: 10px;
        }

            .btn:hover {
                background: #ffcb77 !important;
            }

        .alert-danger {
            color: black;
        }

        .text-black {
            color: black !important;
        }

        .fw-bold {
            font-weight: bold;
        }

        .card-body {
            display: flex;
            flex-direction: row;
            padding: 20px; /* Adjusted padding */
        }

        #formContent {
            text-align: center;
            color: #000;
            margin-right: 120px;
        }

            #formContent img {
                margin-top: -20px;
                margin-bottom: 20px;
                width: 350px;
                height: 190px;
            }

            #formContent h1 {
                font-size: 2rem;
            }

            #formContent p {
                font-size: 1rem;
            }

        .link-text {
            color: black !important;
        }

        #btnRegistrar:active {
            border: none !important;
        }

        .contentcount {
            margin-top: 25px; /* Reduced margin */
        }

            .contentcount p {
                font-size: 18px !important; /* Adjusted font size */
            }

        /* Smaller input fields */
        .form-control {
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
        }
    </style>
</head>
<body>

    <section class="gradient-custom d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card text-white bg-black">
                        <div class="card-body p-5 text-center d-flex" id="formContainer">

                            <div id="formContent">
                                <img src="~/Content/IMG/Icon.png" alt="Icono" id="formImage">
                                <h1>Bienvenido a WELLFIT</h1>
                                <p>Únete a nuestra comunidad de fitness y alcanza tus metas.</p>

                                <div class="contentcount">
                                    <p class="mt-2 text-black">¿Ya tienes cuenta? <a href="@Url.Action("Index","Acceso")" class="link-text fw-bold">Inicia sesión</a></p>
                                </div>
                            </div>

                            <div id="formFields">
                                <form action="@Url.Action("RegistrarAprendices","Acceso")" method="post">
                                    <div class="mb-4">
                                        <label for="idAprendiz" class="form-label visually-hidden">Identificación</label>
                                        <input type="text" id="idAprendiz" name="idAprendiz" class="form-control" autocomplete="off" placeholder="Identificación" required>
                                    </div>
                                    <div class="mb-4">
                                        <label for="tipoDocumento" class="form-label visually-hidden">Tipo documento</label>
                                        <select id="tipoDocumento" name="tipoDocumento" class="form-select" required>
                                            <option value="">Selecciona el tipo de documento</option>
                                            <option value="Cédula de Ciudadanía">Cédula de Ciudadanía</option>
                                            <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                                            <option value="Cédula Extranjera">Cédula Extranjera</option>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label for="NombreAprendiz" class="form-label visually-hidden">Nombre</label>
                                        <input type="text" id="NombreAprendiz" name="NombreAprendiz" class="form-control form-control-lg" autocomplete="off" placeholder="Nombre" required>
                                    </div>
                                    <div class="mb-4">
                                        <label for="Contraseña" class="form-label visually-hidden">Contraseña</label>
                                        <input type="password" id="Contraseña" name="Contraseña" class="form-control form-control-lg" autocomplete="off" placeholder="Contraseña" required>
                                    </div>
                                    <div class="mb-4">
                                        <label for="numeroFicha" class="form-label visually-hidden">Ficha</label>
                                        <input type="text" id="numeroFicha" name="numeroFicha" class="form-control form-control-lg" autocomplete="off" placeholder="Ficha" required>
                                    </div>
                                    <div class="mb-4">
                                        <label for="programaFormacion" class="form-label visually-hidden">Programa de Formación</label>
                                        <input type="text" id="programaFormacion" name="programaFormacion" class="form-control form-control-lg" autocomplete="off" placeholder="Programa de Formación" required>
                                    </div>
                                    <div class="mb-4">
                                        <label for="EstadoAprendiz" class="form-label visually-hidden">Estado</label>
                                        <select id="EstadoAprendiz" name="EstadoAprendiz" class="form-select " required>
                                            <option value="">Selecciona un estado</option>
                                            <option value="En formación">En formación</option>
                                            <option value="Inactivo">Inactivo</option>
                                        </select>
                                    </div>
                                    @if (ViewBag.Error != null)
                                    {
                                        <div class="form-floating mb-3">
                                            <div class="alert alert-danger" role="alert">
                                                @ViewBag.Error
                                            </div>
                                        </div>
                                    }

                                    @if (TempData["Success"] != null)
                                    {
                                        <div class="alert alert-success mt-4" role="alert">
                                            @TempData["Success"]
                                        </div>
                                    }
                                    <button id="btnRegistrar" class="btn text-black bg-white btn-lg px-5" type="submit">Registrar</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

</body>
</html>
