@media (max-width: 768px) {
    .col-12 {
        width: 100%;
    }

    .col-md-8 {
        width: 100%;
    }

    .col-lg-6 {
        width: 100%;
    }

    .col-xl-5 {
        width: 100%;
    }

    #btnIniciar {
        width: 80%;
    }
}
